/* General Page CSS */

body {
    width: 100%;
    background: rgba(295,255,220,.8);
    font-family: 'georgia', cursive, sans-serif;
}

/* Header CSS */

header{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}
h1#name {     
    border-radius: 153px 153px 153px 153px; 
    border:double black 5px;
    text-align: center;
    font-family: 'milkshakeregular', cursive, sans-serif;
    font-size: 48px
}

img.circle {
    border-radius: 200px;
    box-shadow: -3px 4px 7px -1px rgba(0,0,0,0.75);
    border: 4px solid #000000;
    padding: 1px;
}

figure#headshot {
    text-align: center;
}


/* Footer CSS */

footer {
    position: relative;
    border-radius: 153px; 
    border:double black 5px;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    text-align: center;
}

li>a { 
    color: black;
}

li.link {
    font-family: 'milkshakeregular', cursive, sans-serif;
    font-size: 24px ;
    display: inline;
    margin: 10px;
}


/* Home Page */

figure.logo { 
    display: inline-block;
    margin: 0px 0px 10px 0px;
}

figure.logo#css { 
    display: inline-block;
    margin: 0px;
    margin: 0px 0px 60px 0px;
}

section.home {
    text-align: center;
}
/*About*/

section.about {
    text-align: center;
    max-width: 66%;
    margin-left: auto;
    margin-right: auto;
}

ol {
    text-align: center;
    max-width: 15%;
    margin-left: auto;
    margin-right: auto;
}

p#linkedin {
    margin: 0px 0px 40px 0px;
}
    

/*Contact*/

p#quote{
    max-width: 60%;
    text-align: center;
    position: relative;
    left: 25%;
}

div.forms {
max-width: 33%;
margin-left: auto;
margin-right: auto
}
    
fieldset {
    border: 0px;
}


legend {
    text-align: center; 
    font-size: 32px;
    margin-bottom: 15px ;
}

input {
    width: 250px;
}

textarea {
    width: 250px;
    min-height: 200px;
}

input, textarea, label.submit { 
    float:right;
}

input, textarea {
    border: 1px solid;
    border-color: rgba(0,0,0,.45);
    background-color: rgba(295,255,220,.45);
    font-size: 16px;
    font-family: 'times new roman', serif;    
}

input.submit { 
    width: 80px;
    background-color: aqua;
    border-radius: 153px;
    box-shadow: 0px 6px 180px rgba(0,0,0,0.75); 
    
}

blockquote { 
    text-align: center;
}

label { margin: 5px;
    float:left;
} 
 
div.clear {
    clear:both;
    margin: 10px;
}

button{
    border: 1px solid;
    border-color: rgba(0,0,0,.45);
    background-color: rgba(295,255,220,.45);
    font-size: 16px;
    font-family: 'times new roman', serif;
    width: 100px;
    background-color: aqua;
    border-radius: 153px;
    box-shadow: 0px 6px 180px rgba(0,0,0,0.75);
}


